
<app-header></app-header>


<!-- <div class="container"> -->
    <!-- <div id="carousel-example-generic" class="carousel slide imageSizeForCarousel" data-ride="carousel">
        
            <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
        
        
            <div class="carousel-inner imageSizeForCarousel" role="listbox">
            <div class="item active imageSize">
                    <img src="https://farm1.staticflickr.com/936/28839301127_8c3d8bba31.jpg" width="3000" height="900" alt="19001080">  alt="Visa">
                <div class="carousel-caption">
                ...
                </div>
            </div>
            <div class="item imageSize">
                    <img src="https://farm2.staticflickr.com/1522/26405659365_47b513f28d.jpg"  alt="Visa">
                <div class="carousel-caption">
                ...
                </div>
            </div>
            ...
            </div>
        
            
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
</div> -->
<router-outlet></router-outlet>


