<div class="container"> 
  <h1>Invoices</h1>
  <div class="table-responsive">
    <table class="table table-hover invoices">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Payment Due Date</th>
          <th scope="col">Client Name</th>
          <th scope="col">Job Description</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices" [class.selected]="invoice === selectedInvoice" (click)="onSelect(invoice)">
          <td>{{invoice.id}}</td>
          <td>{{invoice.paymentDueDate}}</td>
          <td>{{invoice.clientName}}</td>
          <td>{{invoice.jobDesc}}</td>
          <td>{{invoice.total}}</td>
        </tr>          
      </tbody>
    </table>
  </div>
</div>


