<div class="container"> 
  <h1>Create Invoice</h1>
  <form method="post">
   <div class="form-group ">
    <label class="control-label requiredField" for="date">
     Date
     <span class="asteriskField">
      *
     </span>
    </label>
    <input [(ngModel)]="paymentDueDate" class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text"/>
   </div>
   <div class="form-group ">
    <label class="control-label requiredField" for="name">
     Client Name
     <span class="asteriskField">
      *
     </span>
    </label>
    <input [(ngModel)]="clientName" class="form-control" id="name" name="name" type="text"/>
   </div>
   <div class="form-group ">
    <label class="control-label " for="text1">
     Job Description
    </label>
    <input [(ngModel)]="jobDesc" class="form-control" id="text1" name="text1" type="text"/>
   </div>
   <div class="form-group ">
    <label class="control-label requiredField" for="text">
     Total
     <span class="asteriskField">
      *
     </span>
    </label>
    <input [(ngModel)]="total" class="form-control" id="text" value="0.00" name="text" type="number"/>
   </div>
   <div class="form-group">
    <div>
     <button class="btn btn-primary " name="submit" type="submit" (click)="onClick()">
      Create
     </button>
    </div>
   </div>
  </form>
</div>


